emailautomation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -80
      ],
      "id": "f88bd6d9-bd1f-4e03-af1f-32e12a1642e2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/gmail_style_fake_emails.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -80,
        -80
      ],
      "id": "1d17da10-0765-4011-98d7-9cc0a1a32f91",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// This code assumes each input item contains a `data` array\n// like in your sample output.\n\nconst results = [];\n\nfor (const item of items) {\n  const messages = item.json.data || [];\n\n  for (const message of messages) {\n    const subject = message.subject || '';\n    const bodyText = message.body?.text || '';\n    const bodyHtml = message.body?.html || '';\n\n    // Combine searchable content\n    const searchableContent = `${subject} ${bodyText} ${bodyHtml}`.toLowerCase();\n\n    // Condition 1: contains \"urgent\" (any case)\n    const hasUrgent = searchableContent.includes('urgent');\n\n    // Condition 2: contains \"BlueOrbit Ltd\" (any case)\n    const hasBlueOrbit = searchableContent.includes('blueorbit ltd');\n\n    if (hasUrgent && hasBlueOrbit) {\n      // Return the full original message object\n      results.push({\n        json: message\n      });\n    }\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -80
      ],
      "id": "06987ef4-fcd4-4574-b362-11f82868cfca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        176,
        -80
      ],
      "id": "23175772-ca1b-49f5-8605-44594a06f71f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fromEmail": "cs.jdsofttech@gmail.com",
        "toEmail": "maharshi.patel@e2m.solutions",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.from }}{{ $json.to[0] }}{{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        816,
        -80
      ],
      "id": "4171165f-6e94-4538-8b52-3835df40f219",
      "name": "Send email",
      "webhookId": "2e37f91f-6c43-4810-b94a-08714f091f56",
      "credentials": {
        "smtp": {
          "id": "NV5xCMqa59Spx4kU",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6a498475-be7d-4a37-9b95-bc223a0c3728",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1ca9918005731099e066654fcb25da53c11780867e34b52bc7e5c12e30de491"
  },
  "id": "wHs7GWlXwgmPftKBAWxHU",
  "tags": []
}